<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Primer Ejemplo</title>

  <link href='https://fonts.googleapis.com/css?family=Open-Sans:300,400' rel='stylesheet' type='text/css'>

</head>
<body>

  <style>

    

    .text-format {
      font-family: 'Open Sans';
      font-size: 12px;
      font-weight: 300; 
    }/*font-size*/
  
  </style>
  

  <div class="text-format">
    Primer ejemplo de como hacer PDF en linea desde un template en local!
    Pero yo alucino pipas con esto de verdad que es muy bueno!
  </div>

</body>
</html>